<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../public/img/mini-logo.png" type="image/x-icon">
    <title>Главная</title>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css"/>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
<div class="color-line"></div>
<header>
    <div class="hamburger" id="hamburger">
        <span></span>
    </div>
    <div class="l-menu">
        <img src="../public/img/logo.svg" alt="" class="logo">
        <div class="link">
            <a href="">Университет</a>
            <a href="">Образование</a>
            <a href="">Наука</a>
            <a href="">Абитуриенту</a>
        </div>
    </div>
    <div class="r-menu">
        <a href="">
            <img src="../public/img/email.svg" alt="">
        </a>
        <a href="">
            <img src="../public/img/vk.svg" alt="">
        </a>
        <a href="">
            <img src="../public/img/inst.svg" alt="">
        </a>
        <a href="">
            <img src="../public/img/facebook.svg" alt="">
        </a>
        <a href="">
            <img src="../public/img/user.svg" alt="">
        </a>
        <div class="language" id="language">
            <span>РУС</span>
            <img src="../public/img/arrow-down-sign-to-navigate.svg" alt="">
            <div class="language-friend" id="language-friend">
                <a href="">ENG</a>
            </div>
        </div>
        <a href="">
            <img src="../public/img/eye.svg" alt="">
        </a>
        <a href="">
            <img src="../public/img/loupe.svg" alt="">
        </a>
    </div>
    <div class="menu" id="menu">
        <ul class="l-menu">
            <li class="l-menu-item">
                <a href="">Университет</a>
                <img src="../public/img/right-arrow-menu.svg" alt="">
            </li>
            <li class="l-menu-item">
                <a href="">Образование</a>
                <img src="../public/img/right-arrow-menu.svg" alt="">
            </li>
            <li class="l-menu-item">
                <a href="">Наука</a>
                <img src="../public/img/right-arrow-menu.svg" alt="">
            </li>
            <li class="l-menu-item">
                <a href="">Международное сотрудничество</a>
                <img src="../public/img/right-arrow-menu.svg" alt="">
            </li>
            <li class="l-menu-item">
                <a href="">Абитуриенту</a>
                <img src="../public/img/right-arrow-menu.svg" alt="">
            </li>
            <li class="l-menu-item">
                <a href="">Вакансии</a>
                <img src="../public/img/right-arrow-menu.svg" alt="">
            </li>
            <li class="l-menu-item">
                <a href="">Культура</a>
                <img src="../public/img/right-arrow-menu.svg" alt="">
            </li>
            <li class="l-menu-item">
                <a href="">Медиа</a>
                <img src="../public/img/right-arrow-menu.svg" alt="">
            </li>
            <li class="l-menu-item">
                <a href="">Центр карьеры и профориентации</a>
                <img src="../public/img/right-arrow-menu.svg" alt="">
            </li>
            <li class="l-menu-item">
                <a href="">Студенческая жизнь</a>
                <img src="../public/img/right-arrow-menu.svg" alt="">
            </li>
        </ul>
        <div class="c-menu">
            <div class="c-menu-item">
                <a href="" class="first-lick">Об университете</a>
                <a href="" class="second-link">Приветствие ректора</a>
                <a href="" class="second-link">История</a>
                <a href="" class="second-link">Экспертный центр</a>
                <a href="" class="second-link">Фирменный стиль</a>
            </div>
            <div class="c-menu-item">
                <a href="" class="first-lick">Справочник документов</a>
                <a href="" class="second-link">Документы Министерств и ведомств</a>
                <a href="" class="second-link">Общие документы</a>
                <a href="" class="second-link">Бланки документов</a>
                <a href="" class="second-link">Локальные нормативные акты</a>
            </div>
            <div class="c-menu-item">
                <a href="" class="first-lick">Стратегия развития</a>
                <a href="" class="second-link">Противодействие идеологии экстремизма и терроризма</a>
                <a href="" class="second-link">Противодействие коррупции</a>
            </div>
            <div class="c-menu-item">
                <a href="" class="first-lick">Администрация</a>
                <a href="" class="second-link">Ученый совет</a>
                <a href="" class="second-link">Руководители</a>
            </div>
            <div class="c-menu-item">
                <a href="" class="first-lick">Филиалы</a>
                <a href="" class="second-link">Филиал — Лисинский учебно-опытный лесхоз</a>
                <a href="" class="second-link">Филиал — Сыктывкарский лесной институт</a>
                <a href="" class="second-link">Филиал — Охтинский учебно-опытный лесхоз</a>
            </div>
            <div class="c-menu-item">
                <a href="" class="first-lick">Академические рейтинги</a>
                <a href="" class="second-link">Участие университета в рейтингах</a>
                <a href="" class="second-link">Сертификат UI GreenMetric 2019</a>
            </div>
        </div>
        <div class="r-menu">
            <div class="r-menu-item">
                <div class="contact">
                    <span class="name">Приемная комиссия:</span>
                    <a href="" class="phone">+7 (812) 670-92-97</a>
                    <a href="" class="email">pricomlt@mail.ru</a>
                </div>
            </div>
            <div class="r-menu-item">
                <div class="contact">
                    <span class="name">Отдел делопроизводства:</span>
                    <a href="" class="phone">+7 (812) 670-92-46</a>
                    <a href="" class="email">public@spbftu.ru</a>
                </div>
            </div>
            <div class="r-menu-item">
                <div class="contact">
                    <span class="name">Пресс-служба университета:</span>
                    <a href="" class="phone">+7 (812) 670-93-55</a>
                    <a href="" class="email">pr@spbftu.ru</a>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="section section-bg-full">
    <div class="container">
        <div class="swiper-container swiper-container-one" id="swiper-one">
            <div class="swiper-wrapper">
                <div class="swiper-slide slide-content">
                    <h1 class="slide-content__title">Поступай в Первый лесной университет</h1>
                    <img class="slide-content__img" src="../public/img/testSlider.svg">
                    <button class="slide-content__button">Узнать подробнее</button>
                </div>
                <div class="swiper-slide slide-content">
                    <h1 class="slide-content__title">Lorem ipsum.</h1>
                    <img class="slide-content__img" src="../public/img/testSlider.svg">
                    <button class="slide-content__button">Узнать подробнее</button>
                </div>
                <div class="swiper-slide slide-content">
                    <h1 class="slide-content__title">Lorem ipsum dolor.</h1>
                    <img class="slide-content__img" src="../public/img/testSlider.svg">
                    <button class="slide-content__button">Узнать подробнее</button>
                </div>
                <div class="swiper-slide slide-content">
                    <h1 class="slide-content__title">Lorem ipsum dolor.</h1>
                    <img class="slide-content__img" src="../public/img/testSlider.svg">
                    <button class="slide-content__button">Узнать подробнее</button>
                </div>
                <div class="swiper-slide slide-content">
                    <h1 class="slide-content__title">Lorem ipsum dolor.</h1>
                    <img class="slide-content__img" src="../public/img/testSlider.svg">
                    <button class="slide-content__button">Узнать подробнее</button>
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div>
        <div class="swiper-container swiper-container-two" id="swiper-two">
            <div class="swiper-wrapper">
                <div class="swiper-slide slide-content">
                    <img src="../public/img/testSliderTwo.svg" alt="">
                </div>
                <div class="swiper-slide slide-content">
                    <img src="../public/img/testSliderTwo.svg" alt="">
                </div>
                <div class="swiper-slide slide-content">
                    <img src="../public/img/testSliderTwo.svg" alt="">
                </div>
                <div class="swiper-slide slide-content">
                    <img src="../public/img/testSliderTwo.svg" alt="">
                </div>
                <div class="swiper-slide slide-content">
                    <img src="../public/img/testSliderTwo.svg" alt="">
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>
<section class="section">
    <h1 class="section__title">Новости</h1>
    <div class="container">
        <div class="details">
            <div class="details__menu">
                <button class="menu__button menu__button-active" id="news-button-one">События СПбГЛТУ</button>
                <button class="menu__button" id="news-button-two">Студенческие новости</button>
            </div>
            <div class="swiper-container swiper-container-three swiper-active" id="swiper-three">
                <div class="swiper-wrapper">
                    <div class="swiper-slide slide-card">
                        <a href="" class="card">
                            <img class="card__img" src="../public/img/testNews.png" alt="">
                            <div class="card__content">
                                <span class="card__date">Сегодня</span>
                                <span class="card__text">
                                Поздравление выпускников Лесотехнического университета от ВРИО ректора СПбГЛТУ Ирины Альбертовны Мельничук
                                </span>
                                <div class="card__arrow">
                                    <img src="../public/img/rightArrow.svg" alt="">
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide slide-card">
                        <a href="" class="card">
                            <img class="card__img" src="../public/img/testNews.png" alt="">
                            <div class="card__content">
                                <span class="card__date">05.06.2021</span>
                                <span class="card__text">
                                Студентка СПбГЛТУ приняла участие в чествовании лучших выпускников вузов Санкт-Петербурга 2021 года
                                </span>
                                <div class="card__arrow">
                                    <img src="../public/img/rightArrow.svg" alt="">
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide slide-card">
                        <a href="" class="card">
                            <img class="card__img" src="../public/img/testNews.png" alt="">
                            <div class="card__content">
                                <span class="card__date">03.06.2021</span>
                                <span class="card__text">
                                В Лесотехническом университете состоялось заседание ученого совета
                                </span>
                                <div class="card__arrow">
                                    <img src="../public/img/rightArrow.svg" alt="">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>

            <div class="swiper-container swiper-container-four" id="swiper-four">
                <div class="swiper-wrapper">
                    <div class="swiper-slide slide-card">
                        <a href="" class="card">
                            <img class="card__img" src="../public/img/testNewsTwo.jpg" alt="">
                            <div class="card__content">
                                <span class="card__date">Сегодня</span>
                                <span class="card__text">
                                Поздравление выпускников Лесотехнического университета от ВРИО ректора СПбГЛТУ Ирины Альбертовны Мельничук
                                </span>
                                <div class="card__arrow">
                                    <img src="../public/img/rightArrow.svg" alt="">
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide slide-card">
                        <a href="" class="card">
                            <img class="card__img" src="../public/img/testNewsTwo.jpg" alt="">
                            <div class="card__content">
                                <span class="card__date">05.06.2021</span>
                                <span class="card__text">
                                Студентка СПбГЛТУ приняла участие в чествовании лучших выпускников вузов Санкт-Петербурга 2021 года
                                </span>
                                <div class="card__arrow">
                                    <img src="../public/img/rightArrow.svg" alt="">
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide slide-card">
                        <a href="" class="card">
                            <img class="card__img" src="../public/img/testNewsTwo.jpg" alt="">
                            <div class="card__content">
                                <span class="card__date">03.06.2021</span>
                                <span class="card__text">
                                В Лесотехническом университете состоялось заседание ученого совета
                                </span>
                                <div class="card__arrow">
                                    <img src="../public/img/rightArrow.svg" alt="">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
            <div class="link-more">
                <a href="">Все новости <img src="../public/img/small-right-arrow.svg" alt=""></a>
            </div>
        </div>
    </div>
</section>
<section class="section section-bg-full">
    <h1 class="section__title">Анонсы</h1>
    <div class="container">
        <div class="announcements">
            <div class="swiper-container swiper-container-five " id="swiper-five">
                <div class="swiper-wrapper">
                    <div class="swiper-slide slide-announce">
                        <a href="" class="announce-card">
                            <span class="card__date">Сегодня</span>
                            <span class="card__text">
                                Университет Матея Бела в Банска Быстрице — партнёр СПбГЛТУ. Соглашение о сотрудничестве действует с 2017 года. После успешного запуска программ в прошедшем учебном году, университет предлагает различные онлайн-курсы в следующем учебном году 2021/2022 (зимний и летнийсеместр) для студентов изуниверситетов-партнеров.
                            </span>
                        </a>
                    </div>
                    <div class="swiper-slide slide-announce">
                        <a href="" class="announce-card">
                            <span class="card__date">10.06.2021</span>
                            <span class="card__text">
                            Уважаемые коллеги и студенты! Комитет по науке и высшей школе и Совет ректоров вузов Санкт-Петербурга и Ленинградской области проводят в 2021 году конкурс «Студент года» в системе высшего образования в Санкт-Петербурге. Заявки на участие принимаются с 10 сентября по 15 октября 2021 года.
                        </span>
                        </a>
                    </div>
                    <div class="swiper-slide slide-announce">
                        <a href="" class="announce-card">
                            <span class="card__date">01.06.2021</span>
                            <span class="card__text">
                            Уважаемые коллеги! Департамент государственной молодежной политики и воспитательной деятельности Минобрнауки России приглашает к участию во Всероссийском конкурсе на лучшую практику самоуправления в образовательной организации высшего образования. Конкурс проводится с 23 июня по 10 августа 2021 года.
                        </span>
                        </a>
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
            <div class="link-more">
                <a href="">Все анонсы <img src="../public/img/small-right-arrow.svg" alt=""></a>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <a href="" class="link-card">
            <span class="link-card__title">Образование</span>
            <span class="link-card__text">
                Познакомьтесь с нашими образовательными программами
            </span>
            <img class="link-card__img" src="../public/img/testSlider.svg" alt="">
        </a>
        <a href="" class="link-card">
            <span class="link-card__title">Наука</span>
            <span class="link-card__text">
                Информация о научных исследованиях проводимых в СПбГЛТУ
            </span>
            <img class="link-card__img" src="../public/img/testCard.svg" alt="">
        </a>
        <a href="" class="link-card">
            <span class="link-card__title">Международная деятельность</span>
            <span class="link-card__text">
                Международной деятельности и программах сотрудничества в СПбГЛТУ всегда придавалось большое значение
            </span>
            <img class="link-card__img" src="../public/img/testCardTwo.svg" alt="">
        </a>
        <a href="" class="link-card">
            <span class="link-card__title">Студенческая жизнь</span>
            <span class="link-card__text">
                Студенческие мероприятия проводимые в университете вот то без чего сложно представить студенческую жизнь
            </span>
            <img class="link-card__img" src="../public/img/testSliderTwo.svg" alt="">
        </a>
    </div>
</section>
<section class="section section-bg-full">
    <h1 class="section__title">Наши партнеры</h1>
    <div class="container">
        <div class="partners">
            <div class="swiper-container swiper-container-six " id="swiper-six">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="" alt="">
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
    </div>
</section>
<div class="test"></div>
<div class="color-line"></div>
<footer>
    <div class="footer-menu">
        <div class="footer-menu__item">
            <div class="item__title">Университет</div>
            <a href="">Об университете</a>
            <a href="">Администрация</a>
            <a href="">Справочник документов</a>
            <a href="">Филиалы</a>
            <a href="">Стратегия развития</a>
            <a href="">Академические рейтинги</a>
        </div>
        <div class="footer-menu__item">
            <div class="item__title">Образование</div>
            <a href="">Общая информация</a>
            <a href="">Обучающимся</a>
            <a href="">Информация для иностранных граждан</a>
            <a href="">Библиотека</a>
            <a href="">Анкетирование</a>
        </div>
        <div class="footer-menu__item">
            <div class="item__title">Наука</div>
            <a href="">Общая информация</a>
            <a href="">Структура научной части</a>
            <a href="">Конгрессная деятельность</a>
        </div>
        <div class="footer-menu__item">
            <div class="item__title">Международное сотрудничество</div>
            <a href="">Общая информация</a>
            <a href="">Международные образовательные программы</a>
            <a href="">Международная деятельность</a>
        </div>
        <div class="footer-menu__item">
            <div class="item__title">Абитуриенту</div>
            <a href="">Бакалавриат</a>
            <a href="">Магистратура</a>
            <a href="">Видео о нас</a>
            <a href="">Аспирантура</a>
            <a href="">Среднее профессиональное образование</a>
            <a href="">Презентации направлений</a>
            <a href="">Презентации кафедр</a>
            <a href="">Интервью со специалистами</a>
            <a href="">Видео обращения</a>
        </div>
        <div class="footer-menu__item">
            <div class="item__title">Студенческая жизнь</div>
            <a href="">Управление по воспитательной работе и молодежной политике</a>
            <a href="">Творчество</a>
            <a href="">Социальное обеспечение</a>
            <a href="">Студенческие объединения</a>
            <div class="item__title">Вакансии</div>
            <a href="">Заведующие кафедрами</a>
            <a href="">Профессорско-преподавательский состав</a>
            <a href="">Конкурс на замещение вакантных должностей научных работников</a>
        </div>
        <div class="footer-menu__item">
            <div class="item__title">Центр карьеры и профориентации</div>
            <a href="">Обучающимся</a>
            <a href="">Выпускникам</a>
            <a href="">Партнёрам</a>
            <a href="">Трудоустройство выпускников с ОВЗ и инвалидностью</a>
            <a href="">Профориентация</a>
            <a href="">Практики и стажировки</a>
            <a href="">Вакансии для выпускников и обучающихся</a>
        </div>
        <div class="footer-menu__item">
            <div class="item__title">Культура</div>
            <a href="">Культурная деятельность</a>
            <a href="">75-я годовщина Победы в Великой Отечественной войне</a>
            <a href="">Культурно-просветительские проекты</a>
            <div class="item__title">Медиа</div>
            <a href="">Пресс-служба СПбГЛТУ</a>
            <a href="">СМИ о нас</a>
            <a href="">Информационные партнеры</a>
        </div>
    </div>
    <div class="additional-services">
        <div class="additional-services__item">
            <a href="">Министерство науки и высшего образования Российской Федерации</a>
            <a href="">Официальные информационные ресурсы Министерства науки и высшего образования Российской
                Федерации</a>
            <a href="">Портал государственных услуг Российской Федерации</a>
        </div>
        <div class="additional-services__item">
            <a href="">Официальный сайт для размещения информации о государственных (муниципальных) учреждениях</a>
            <a href="">Интерактивная карта антитеррористической деятельности</a>
            <a href="">Противодействие коррупции</a>
        </div>
        <div class="additional-services__item">
            <a href="">Почта университета</a>
            <a href="">Техническая служба</a>
            <a href="">Заявка на конференцию Zoom</a>
            <a href="">Задать вопрос</a>
            <div class="social-network">
                <a href="">
                    <img src="../public/img/vk.svg" alt="">
                </a>
                <a href="">
                    <img src="../public/img/inst.svg" alt="">
                </a>
                <a href="">
                    <img src="../public/img/facebook.svg" alt="">
                </a>
            </div>
        </div>
        <div class="additional-services__item">
            <div class="contact">
                <span>Приемная комиссия:</span>
                <a href="">+7 (812) 670-92-97</a>
                <a href="">pricomlt@mail.ru</a>
            </div>
            <div class="contact">
                <span>Отдел делопроизводства:</span>
                <a href="">+7 (812) 670-92-46</a>
                <a href="">public@spbftu.ru</a>
            </div>
            <div class="contact">
                <span>Пресс-служба:</span>
                <a href="">+7 (812) 670-93-55</a>
                <a href="">pr@spbftu.ru</a>
            </div>
        </div>
    </div>
    <div class="footer-line"></div>
    <div class="copyright">
       <span>
            © Лесотехнический университет, 2015 г. Все материалы данного сайта являются объектами
            авторского права. Запрещается копирование, распространение (в том числе путем копирования на другие сайты и
            ресурсы в Интернете) или любое иное использование информации и объектов без предварительного согласия
            правообладателя
       </span>
    </div>
</footer>
<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../public/js/carousel.js"></script>
<script src="../public/js/main.js"></script>
</body>
</html>