<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../public/img/mini-logo.png" type="image/x-icon">
    <title>Институты</title>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css"/>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
<header>
    <div class="hamburger" id="hamburger">
        <span></span>
    </div>
    <div class="l-menu">
        <img src="../public/img/logo.svg" alt="" class="logo">
        <div class="link">
            <a href="">Университет</a>
            <a href="">Образование</a>
            <a href="">Наука</a>
            <a href="">Абитуриенту</a>
        </div>
    </div>
    <div class="r-menu">
        <a href="">
            <img src="../public/img/user.svg" alt="">
        </a>
        <div class="language" id="language">
            <span>РУС</span>
            <img src="../public/img/arrow-down-sign-to-navigate.svg" alt="">
            <div class="language-friend" id="language-friend">
                <a href="">ENG</a>
            </div>
        </div>
        <a href="">
            <img src="../public/img/eye.svg" alt="">
        </a>
        <a href="">
            <img src="../public/img/loupe.svg" alt="">
        </a>
    </div>
    <div class="menu" id="menu">
        <ul class="l-menu">
            <li class="l-menu-item">
                <a href="">Университет</a>
            </li>
            <li class="l-menu-item">
                <a href="">Образование</a>
            </li>
            <li class="l-menu-item">
                <a href="">Наука</a>
            </li>
            <li class="l-menu-item">
                <a href="">Международное сотрудничество</a>
            </li>
            <li class="l-menu-item">
                <a href="">Абитуриенту</a>
            </li>
            <li class="l-menu-item">
                <a href="">Вакансии</a>
            </li>
            <li class="l-menu-item">
                <a href="">Культура</a>
            </li>
            <li class="l-menu-item">
                <a href="">Медиа</a>
            </li>
            <li class="l-menu-item">
                <a href="">Центр карьеры и профориентации</a>
            </li>
            <li class="l-menu-item">
                <a href="">Студенческая жизнь</a>
            </li>
            <li class="l-menu-item">
                <a href="">Противодействие COVID-19</a>
            </li>
        </ul>
        <div class="c-menu">
            <div class="c-menu-item">
                <a href="" class="first-lick">Об университете</a>
                <a href="" class="second-link">Приветствие ректора</a>
                <a href="" class="second-link">История</a>
                <a href="" class="second-link">Экспертный центр</a>
                <a href="" class="second-link">Фирменный стиль</a>
            </div>
            <div class="c-menu-item">
                <a href="" class="first-lick">Справочник документов</a>
                <a href="" class="second-link">Документы Министерств и ведомств</a>
                <a href="" class="second-link">Общие документы</a>
                <a href="" class="second-link">Бланки документов</a>
                <a href="" class="second-link">Локальные нормативные акты</a>
            </div>
            <div class="c-menu-item">
                <a href="" class="first-lick">Стратегия развития</a>
                <a href="" class="second-link">Противодействие идеологии экстремизма и терроризма</a>
                <a href="" class="second-link">Противодействие коррупции</a>
            </div>
            <div class="c-menu-item">
                <a href="" class="first-lick">Администрация</a>
                <a href="" class="second-link">Ученый совет</a>
                <a href="" class="second-link">Руководители</a>
            </div>
            <div class="c-menu-item">
                <a href="" class="first-lick">Филиалы</a>
                <a href="" class="second-link">Филиал — Лисинский учебно-опытный лесхоз</a>
                <a href="" class="second-link">Филиал — Сыктывкарский лесной институт</a>
                <a href="" class="second-link">Филиал — Охтинский учебно-опытный лесхоз</a>
            </div>
            <div class="c-menu-item">
                <a href="" class="first-lick">Академические рейтинги</a>
                <a href="" class="second-link">Участие университета в рейтингах</a>
                <a href="" class="second-link">Сертификат UI GreenMetric 2019</a>
            </div>
        </div>
        <div class="r-menu">
            <div class="r-menu-item">
                <div class="contact">
                    <span class="name">Приемная комиссия:</span>
                    <a href="" class="phone">+7 (812) 670-92-97</a>
                    <a href="" class="email">pricomlt@mail.ru</a>
                </div>
            </div>
            <div class="r-menu-item">
                <div class="contact">
                    <span class="name">Отдел делопроизводства:</span>
                    <a href="" class="phone">+7 (812) 670-92-46</a>
                    <a href="" class="email">public@spbftu.ru</a>
                </div>
            </div>
            <div class="r-menu-item">
                <div class="contact">
                    <span class="name">Пресс-служба университета:</span>
                    <a href="" class="phone">+7 (812) 670-93-55</a>
                    <a href="" class="email">pr@spbftu.ru</a>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="bread-crumbs"><a href="home.html">Главная</a><span>></span><a href="institutionsPage.html">Институты</a>
</div>
<section class="section offset-top__24">
    <h1 class="section__title">Институты</h1>
    <div class="container">
        <div class="institute-block">
            <a href="" class="institute-block__img">
                <img src="../public/img/institute/ilaciod.svg" alt="">
                <img src="../public/img/rightArrow.svg" alt="" class="arrow">
            </a>
            <div class="institute-block__content">
                <div class="name">ИЛАСиОД</div>
                <h2 class="title">
                    Институт ландшафтной архитектуры, строительства и обработки древесины
                </h2>
                <div class="content__item">
                    <span>Директор</span>
                    <a href="" class="item__color">Крюковский Александр Сергеевич</a>
                </div>
                <div class="content__item">
                    <span>Телефон</span>
                    <a href="">+7 (812) 670-92-53</a>
                </div>
                <div class="content__item">
                    <span>Почта</span>
                    <a href="">info@lta-landscape.com</a>
                </div>
                <a href="" class="content__button">Подробнее</a>
            </div>
        </div>
        <div class="institute-block">
            <a href="" class="institute-block__img">
                <img src="../public/img/institute/ilip.svg" alt="">
                <img src="../public/img/rightArrow.svg" alt="" class="arrow">
            </a>
            <div class="institute-block__content">
                <div class="name">ИЛиП</div>
                <h2 class="title">Институт леса и природопользования</h2>
                <div class="content__item">
                    <span>Директор</span>
                    <a href="" class="item__color">Селиванов Анатолий Архипович</a>
                </div>
                <div class="content__item">
                    <span>Телефон</span>
                    <a href="">+7 (812) 670-93-18</a>
                </div>
                <div class="content__item">
                    <span>Почта</span>
                    <a href="">irenakazi@mail.ru</a>
                </div>
                <a href="" class="content__button">Подробнее</a>
            </div>
        </div>
        <div class="institute-block">
            <a href="" class="institute-block__img">
                <img src="../public/img/institute/ilbii.svg" alt="">
                <img src="../public/img/rightArrow.svg" alt="" class="arrow">
            </a>
            <div class="institute-block__content">
                <div class="name">ИЛБиИ</div>
                <h2 class="title">Институт лесного бизнеса и инноватики</h2>
                <div class="content__item">
                    <span>Директор</span>
                    <a href="" class="item__color">Нефедова Ирина Дмитриевна</a>
                </div>
                <div class="content__item">
                    <span>Телефон</span>
                    <a href="">+7 (812) 670-93-10</a>
                </div>
                <div class="content__item">
                    <span>Почта</span>
                    <a href="">i_ilbi@spbftu.ru</a>
                </div>
                <a href="" class="content__button">Подробнее</a>
            </div>
        </div>
        <div class="institute-block">
            <a href="" class="institute-block__img">
                <img src="../public/img/institute/itmitl.svg" alt="">
                <img src="../public/img/rightArrow.svg" alt="" class="arrow">
            </a>
            <div class="institute-block__content">
                <div class="name">ИТМиТЛ</div>
                <h2 class="title">Институт технологических машин и транспорта леса</h2>
                <div class="content__item">
                    <span>Директор</span>
                    <a href="" class="item__color">Спиридонов Сергей Васильевич</a>
                </div>
                <div class="content__item">
                    <span>Телефон</span>
                    <a href="">+7 (812) 670-92-51</a>
                </div>
                <div class="content__item">
                    <span>Почта</span>
                    <a href="">lta_lmf@mail.ru</a>
                </div>
                <a href="" class="content__button">Подробнее</a>
            </div>
        </div>
        <div class="institute-block">
            <a href="" class="institute-block__img">
                <img src="../public/img/institute/ixpbditb.svg" alt="">
                <img src="../public/img/rightArrow.svg" alt="" class="arrow">
            </a>
            <div class="institute-block__content">
                <div class="name">ИХПБДиТБ</div>
                <h2 class="title">Институт химической переработки биомассы дерева и техносферной безопасности</h2>
                <div class="content__item">
                    <span>Директор</span>
                    <a href="" class="item__color">Васильев Александр Викторович</a>
                </div>
                <div class="content__item">
                    <span>Телефон</span>
                    <a href="">+7 (812) 670-93-72</a>
                </div>
                <div class="content__item">
                    <span>Почта</span>
                    <a href="">i_himii@spbftu.ru</a>
                </div>
                <a href="" class="content__button">Подробнее</a>
            </div>
        </div>
        <div class="institute-block">
            <a href="" class="institute-block__img">
                <img src="../public/img/institute/mido.svg" alt="">
                <img src="../public/img/rightArrow.svg" alt="" class="arrow">
            </a>
            <div class="institute-block__content">
                <div class="name">МИДО</div>
                <h2 class="title">Межотраслевой институт дополнительного образования</h2>
                <div class="content__item">
                    <span>Директор</span>
                    <a href="" class="item__color">Кацадзе Владимир Аркадьевич</a>
                </div>
                <div class="content__item">
                    <span>Телефон</span>
                    <a href="">+7 (812) 670-93-54</a>
                </div>
                <div class="content__item">
                    <span>Почта</span>
                    <a href="">mido@spbftu.ru</a>
                </div>
                <a href="" class="content__button">Подробнее</a>
            </div>
        </div>
        <div class="institute-block">
            <a href="" class="institute-block__img">
                <img src="../public/img/institute/kalp.svg" alt="">
                <img src="../public/img/rightArrow.svg" alt="" class="arrow">
            </a>
            <div class="institute-block__content">
                <div class="name">КАЛП</div>
                <h2 class="title">Факультет среднего профессионального образования</h2>
                <div class="content__item">
                    <span>Декан</span>
                    <a href="" class="item__color">Канатьева Алла Леонидовна</a>
                </div>
                <div class="content__item">
                    <span>Телефон</span>
                    <a href="">+7 (812) 670-81-03</a>
                </div>
                <div class="content__item">
                    <span>Почта</span>
                    <a href="">spo@spbftu.ru</a>
                </div>
                <a href="" class="content__button">Подробнее</a>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="footer-menu">
        <div class="footer-menu__item">
            <div class="item__title">Университет</div>
            <a href="">Об университете</a>
            <a href="">Администрация</a>
            <a href="">Справочник документов</a>
            <a href="">Филиалы</a>
            <a href="">Стратегия развития</a>
            <a href="">Академические рейтинги</a>
        </div>
        <div class="footer-menu__item">
            <div class="item__title">Образование</div>
            <a href="">Общая информация</a>
            <a href="">Обучающимся</a>
            <a href="">Информация для иностранных граждан</a>
            <a href="">Библиотека</a>
            <a href="">Анкетирование</a>
        </div>
        <div class="footer-menu__item">
            <div class="item__title">Наука</div>
            <a href="">Общая информация</a>
            <a href="">Структура научной части</a>
            <a href="">Конгрессная деятельность</a>
        </div>
        <div class="footer-menu__item">
            <div class="item__title">Международное сотрудничество</div>
            <a href="">Общая информация</a>
            <a href="">Международные образовательные программы</a>
            <a href="">Международная деятельность</a>
        </div>
        <div class="footer-menu__item">
            <div class="item__title">Абитуриенту</div>
            <a href="">Бакалавриат</a>
            <a href="">Магистратура</a>
            <a href="">Видео о нас</a>
            <a href="">Аспирантура</a>
            <a href="">Среднее профессиональное образование</a>
            <a href="">Презентации направлений</a>
            <a href="">Презентации кафедр</a>
            <a href="">Интервью со специалистами</a>
            <a href="">Видео обращения</a>
        </div>
        <div class="footer-menu__item">
            <div class="item__title">Студенческая жизнь</div>
            <a href="">Управление по воспитательной работе и молодежной политике</a>
            <a href="">Творчество</a>
            <a href="">Социальное обеспечение</a>
            <a href="">Студенческие объединения</a>
            <div class="item__title">Вакансии</div>
            <a href="">Заведующие кафедрами</a>
            <a href="">Профессорско-преподавательский состав</a>
            <a href="">Конкурс на замещение вакантных должностей научных работников</a>
        </div>
        <div class="footer-menu__item">
            <div class="item__title">Центр карьеры и профориентации</div>
            <a href="">Обучающимся</a>
            <a href="">Выпускникам</a>
            <a href="">Партнёрам</a>
            <a href="">Трудоустройство выпускников с ОВЗ и инвалидностью</a>
            <a href="">Профориентация</a>
            <a href="">Практики и стажировки</a>
            <a href="">Вакансии для выпускников и обучающихся</a>
        </div>
        <div class="footer-menu__item">
            <div class="item__title">Культура</div>
            <a href="">Культурная деятельность</a>
            <a href="">75-я годовщина Победы в Великой Отечественной войне</a>
            <a href="">Культурно-просветительские проекты</a>
            <div class="item__title">Медиа</div>
            <a href="">Пресс-служба СПбГЛТУ</a>
            <a href="">СМИ о нас</a>
            <a href="">Информационные партнеры</a>
        </div>
    </div>
    <div class="additional-services">
        <div class="additional-services__item">
            <a href="">Министерство науки и высшего образования Российской Федерации</a>
            <a href="">Официальные информационные ресурсы Министерства науки и высшего образования Российской
                Федерации</a>
            <a href="">Портал государственных услуг Российской Федерации</a>
        </div>
        <div class="additional-services__item">
            <a href="">Официальный сайт для размещения информации о государственных (муниципальных) учреждениях</a>
            <a href="">Интерактивная карта антитеррористической деятельности</a>
            <a href="">Противодействие коррупции</a>
        </div>
        <div class="additional-services__item">
            <a href="">Почта университета</a>
            <a href="">Техническая служба</a>
            <a href="">Заявка на конференцию Zoom</a>
            <a href="">Задать вопрос</a>
            <div class="social-network">
                <a href="">
                    <img src="../public/img/vk.svg" alt="">
                </a>
                <a href="">
                    <img src="../public/img/inst.svg" alt="">
                </a>
                <a href="">
                    <img src="../public/img/facebook.svg" alt="">
                </a>
            </div>
        </div>
        <div class="additional-services__item">
            <div class="contact">
                <span>Приемная комиссия:</span>
                <a href="">+7 (812) 670-92-97</a>
                <a href="">pricomlt@mail.ru</a>
            </div>
            <div class="contact">
                <span>Отдел делопроизводства:</span>
                <a href="">+7 (812) 670-92-46</a>
                <a href="">public@spbftu.ru</a>
            </div>
            <div class="contact">
                <span>Пресс-служба:</span>
                <a href="">+7 (812) 670-93-55</a>
                <a href="">pr@spbftu.ru</a>
            </div>
        </div>
    </div>
    <div class="footer-line"></div>
    <div class="copyright">
       <span>
            © Лесотехнический университет, 2015 г. Все материалы данного сайта являются объектами
            авторского права. Запрещается копирование, распространение (в том числе путем копирования на другие сайты и
            ресурсы в Интернете) или любое иное использование информации и объектов без предварительного согласия
            правообладателя
       </span>
    </div>
</footer>
<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../public/js/carousel.js"></script>
<script src="../public/js/main.js"></script>
</body>
</html>