<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../public/img/mini-logo.png" type="image/x-icon">
    <title>Главная</title>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css"/>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
<header>
    <nav class="menu">
        <a href="">Сведения об образовательной организации</a>
        <a href="">Институты</a>
        <a href="">Аспирантура</a>
        <a href="">Колледж</a>
    </nav>
    <div class="additional-links">
        <div class="social-network">
            <a href=""><img src="../public/img/email.svg" alt=""></a>
            <a href=""><img src="../public/img/vk.svg" alt=""></a>
            <a href=""><img src="../public/img/inst.svg" alt=""></a>
            <a href=""><img src="../public/img/facebook.svg" alt=""></a>
        </div>
        <div class="language">
            РУС
        </div>
        <img class="eye" src="../public/img/eye.svg" alt="">
        <a class="search" href=""><img src="../public/img/loupe.svg" alt=""></a>
    </div>
</header>
<div class="second-header second-header__border-bottom">
    <div class="second-header__block">
        <div class="logo">
            <img src="../public/img/logo.svg" alt="">
        </div>
        <div class="contact">
            <div class="contact__block">
                <span class="name">Приемная комиссия:</span>
                <span class="phone">+7 (812) 670-92-97</span>
                <span class="email">pricomlt@mail.ru</span>
            </div>
            <div class="contact__block">
                <span class="name">Отдел делопроизводства:</span>
                <span class="phone">+7 (812) 670-92-46</span>
                <span class="email">public@spbftu.ru</span>
            </div>
            <div class="contact__block">
                <span class="name">Пресс-служба:</span>
                <span class="phone">+7 (812) 670-93-55</span>
                <span class="email">pr@spbftu.ru</span>
            </div>
        </div>
    </div>
    <div class="second-header__block">
        <nav class="drop-down-menu">
            <ul>
                <li>
                    <a class="link">Университет</a>
                    <div class="drop-item">
                        <div class="drop-item__column">
                            <span class="column__title">Об университете</span>
                            <a href="">Приветствие ректора</a>
                            <a href="">История</a>
                            <a href="">Экспертный центр</a>
                            <a href="">Фирменный стиль</a>
                            <span class="column__title">Администрация</span>
                            <a href="">Ученый совет</a>
                            <a href="">Руководители</a>
                        </div>
                        <div class="drop-item__column">
                            <span class="column__title">Справочник документов</span>
                            <a href="">Документы Министерств и ведомств</a>
                            <a href="">Общие документы</a>
                            <a href="">Бланки документов</a>
                            <a href="">Локальные нормативные акты</a>
                        </div>
                        <div class="drop-item__column">
                            <span class="column__title">Филиалы</span>
                            <a href="">Филиал — Лисинский учебно-опытный лесхоз</a>
                            <a href="">Филиал — Сыктывкарский лесной институт</a>
                            <a href="">Филиал — Охтинский учебно-опытный лесхоз</a>
                        </div>
                        <div class="drop-item__column">
                            <span class="column__title">Академические рейтинги</span>
                            <a href="">Участие университета в рейтингах</a>
                            <a href="">Сертификат Ul GreenMetric 2019</a>
                            <span class="column__title">Стратегия развития</span>
                            <a href="">Противодействие идеологии экстремизма и терроризма</a>
                            <a href="">Противодействие коррупции</a>
                        </div>
                    </div>
                </li>
                <li>
                    <a class="link">Образование</a>
                    <div class="drop-item">
                        <div class="drop-item__column">
                            <span class="column__title">Академические рейтинги</span>
                            <a href="">Участие университета в рейтингах</a>
                            <a href="">Сертификат Ul GreenMetric 2019</a>
                            <span class="column__title">Стратегия развития</span>
                            <a href="">Противодействие идеологии экстремизма и терроризма</a>
                            <a href="">Противодействие коррупции</a>
                        </div>
                        <div class="drop-item__column">
                            <span class="column__title">Академические рейтинги</span>
                            <a href="">Участие университета в рейтингах</a>
                            <a href="">Сертификат Ul GreenMetric 2019</a>
                            <span class="column__title">Стратегия развития</span>
                            <a href="">Противодействие идеологии экстремизма и терроризма</a>
                            <a href="">Противодействие коррупции</a>
                        </div>
                    </div>
                </li>
                <li>
                    <a class="link">Наука</a>
                    <div class="drop-item">
                        test3
                    </div>
                </li>
                <li>
                    <a class="link">Международное сотрудничество</a>
                    <div class="drop-item">
                        test4
                    </div>
                </li>
                <li>
                    <a class="link">Абитуриенту</a>
                    <div class="drop-item">
                        test5
                    </div>
                </li>
                <li>
                    <a class="link">Вакансии</a>
                    <div class="drop-item">
                        test6
                    </div>
                </li>
                <li>
                    <a class="link">Культура</a>
                    <div class="drop-item">
                        test7
                    </div>
                </li>
                <li>
                    <a class="link">Медиа</a>
                    <div class="drop-item">
                        test8
                    </div>
                </li>
                <li>
                    <a class="link">Центр карьеры</a>
                    <div class="drop-item">
                        test9
                    </div>
                </li>
                <li>
                    <a class="link">Студенческая жизнь</a>
                    <div class="drop-item">
                        test10
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</div>
<div class="bread-crumbs">
    <a href="">Главная</a><span>></span><a href="">Институты</a><span>></span><a href="">Институт технологических машин
    и транспорта леса</a>
</div>
<section class="section">
    <h1 class="section__title">Институт технологических машин и транспорта леса</h1>
    <div class="container">
        <div class="details">
            <div class="details__menu">
                <button class="menu__button menu__button-active" id="institute-button-one">Общая информация</button>
                <button class="menu__button" id="institute-button-two">Сотрудники</button>
                <button class="menu__button" id="institute-button-three">Сетевые ресурсы института</button>
            </div>
            <div class="institute">
                <div class="institute-block institute-block__active" id="general-information">
                    <div class="institute-block_content-block">
                        <div class="director-card">
                            <img src="https://spbftu.ru/wp-content/uploads/2017/04/Spiridonov-S-V.jpg" alt="">
                            <div class="director-data">
                                <div class="data__item">
                                    <span>Директор института:</span>
                                    <a href="" class="color-link">Спиридонов Сергей Васильевич</a>
                                </div>
                                <div class="data__item">
                                    <span>Ученое звание:</span>
                                    <span>Доцент</span>
                                </div>
                                <div class="data__item">
                                    <span>Ученая степень:</span>
                                    <span>Кандидат технических наук</span>
                                </div>
                                <div class="data__item">
                                    <span>Е-mail:</span>
                                    <a href="">i_mashin@spbftu.ru</a>
                                </div>
                                <div class="data__item">
                                    <span>Телефон:</span>
                                    <a href="">+7 (812) 670-92-51</a>
                                </div>
                                <div class="data__item">
                                    <span>Адрес:</span>
                                    <a href="">2 здание 308 аудитория</a>
                                </div>
                            </div>
                        </div>
                        <div class="directions-of-training">
                            <div class="title">Направления подготовки</div>
                            <div class="sub-title">По направлениям бакалавриата</div>
                            <div class="directions-of-training__item">
                                <div class="number">08.03.01</div>
                                <div class="text">«Строительство» профиль «Проектирование и строительство автомобильных
                                    дорог промышленного транспорта»
                                </div>
                            </div>
                            <div class="directions-of-training__item">
                                <div class="number">13.03.01</div>
                                <div class="text">«Теплоэнергетика и теплотехника» профиль «Промышленная
                                    теплоэнергетика»
                                </div>
                            </div>
                            <div class="directions-of-training__item">
                                <div class="number">15.03.02</div>
                                <div class="text">«Технологические машины и оборудование» профиль «Машины и
                                    оборудование лесного комплекса»
                                </div>
                            </div>
                            <div class="directions-of-training__item">
                                <div class="number">23.03.01</div>
                                <div class="text">«Технология транспортных процессов» профиль «Организация
                                    перевозок и управление на промышленном транспорте»
                                </div>
                            </div>
                            <div class="directions-of-training__item">
                                <div class="number">23.03.03</div>
                                <div class="text">«Эксплуатация транспортно-технологических машин и комплексов»
                                    профиль «Эксплуатация транспортно-технологических машин и
                                    комплексов»
                                </div>
                            </div>
                            <div class="directions-of-training__item">
                                <div class="number">27.03.01</div>
                                <div class="text">«Стандартизация и метрология» профиль «Стандартизация,
                                    сертификация и системы качества»
                                </div>
                            </div>
                            <div class="directions-of-training__item">
                                <div class="number">27.03.04</div>
                                <div class="text">«Управление в технических системах» профиль «Управление в
                                    социально-технических системах»
                                </div>
                            </div>
                            <div class="directions-of-training__item">
                                <div class="number">35.03.02</div>
                                <div class="text">«Технология лесозаготовительных и деревоперерабатывающих
                                    производств» профиль «Лесоинженерное дело»
                                </div>
                            </div>
                            <div class="sub-title">По магистерским программам</div>
                            <div class="directions-of-training__item">
                                <div class="number">15.04.02</div>
                                <div class="text">«Технологические машины и оборудование» профиль «Машины и
                                    оборудование лесного комплекса»
                                </div>
                            </div>
                            <div class="directions-of-training__item">
                                <div class="number">27.04.04</div>
                                <div class="text">«Управление в технических системах» профиль «Управление в
                                    технических системах»
                                </div>
                            </div>
                            <div class="directions-of-training__item">
                                <div class="number">35.04.02</div>
                                <div class="text">«Технология лесозаготовительных и деревоперерабатывающих
                                    производств» профиль «Лесозаготовительное производство»
                                </div>
                            </div>
                            <div class="sub-title">По направлениям подготовки кадров высшей квалификации:
                            </div>
                            <div class="directions-of-training__item">
                                <div class="number">09.06.01</div>
                                <div class="text">«Информатика и вычислительная техника»
                                    Профиль 05.13.01 «Системный анализ, управление и обработка
                                    информации»
                                </div>
                            </div>
                            <div class="directions-of-training__item">
                                <div class="number">35.06.04</div>
                                <div class="text">«Технологии, средства механизации и энергетическое оборудование
                                    в сельском, лесном и рыбном хозяйстве»
                                    Профили: 05.21.01 «Технология и машины лесозаготовок и лесного
                                    хозяйства»
                                    05.21.05 «Древесиноведение, технология и оборудование
                                    деревопереработки»
                                </div>
                            </div>
                        </div>
                        <div class="obout-us">
                            <div class="title">О нас</div>
                            <div class="video">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/_vtp262JcEE"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                            </div>
                            <div class="text">
                                Здесь располагается информация об институте. 28 ноября 2019 г. Старейший лесотехнический
                                вуз России
                                навестил депутат-эколог Законодательного собрания Ленинградской области Николай Кузьмин.
                                На кафедре Промышленного транспорта СПбГЛТУ прошла Всероссийская научно-практическая
                                конференция «Актуальные проблемы транспорта в лесном комплексе» посвященная столетнему
                                юбилею
                                основания кафедр Сухопутного транспорта леса и Водного транспорта леса и гидравлики.
                                http://www.lenoblzaks.ru/deputats/depnews/6754/200515
                                21 Июня 2019 г. В рамках тесного и плодотворного сотрудничества Санкт-Петербургского
                                государственного
                                лесотехнического университета им. С. М. Кирова (СПбГЛТУ) с компанией PALFINGER с успехом
                                прошел IV
                                Всероссийский студенческий конкурс операторов гидроманипулятора. Основные задачи
                                конкурса —
                                создание условий для повышения профессионального мастерства студентов, получающих
                                практический
                                опыт обучения работе на манипуляторе.
                                Подробнее на странице информационного агентства«Северная Звезда».
                                23 мая 2019 г. в Санкт-Петербургском лесотехническом университете на территории
                                Технопарка прошел
                                ежегодный Cтуденческий конкурс «Лучший оператор гидроманипулятора». В соревновании,
                                приняли
                                участие 7 студентов 3 и 4 курса института технологических машин и транспорта леса. В
                                конкурсе
                                профессионального мастерства наравне с юношами в соревновании приняла участие девушка –
                                Анастасия
                                Уткина.
                            </div>
                        </div>
                        <div class="work-time">
                            <div class="title">Режим работы</div>
                            <div class="text">Понедельник — пятница, с 9-00 до 17-42</div>
                        </div>
                    </div>
                </div>

                <div class="institute-block" id="staff">
                    <div class="institute-block_content-block">
                        <div class="title">Сотрудники института технологических
                            машин и транспорта леса
                        </div>
                        <div class="staff-block">
                            <div class="card-staff">
                                <div class="card__item">
                                    <span>ФИО:</span>
                                    <a href="" class="color-link">Пушков Юрий Леонидович</a>
                                </div>
                                <div class="card__item">
                                    <span>Должность</span>
                                    <span>Заместитель директора по учебной работе</span>
                                </div>
                                <div class="card__item">
                                    <span>Е-mail:</span>
                                    <a href="">
                                        <span>i_mashin@spbftu.ru</span>
                                        <span>lta_lmf@mail.ru</span>
                                    </a>
                                </div>
                                <div class="card__item">
                                    <span>Телефон:</span>
                                    <a href="">+7 (812) 670-92-51</a>
                                </div>
                                <div class="card__item">
                                    <span>Адрес:</span>
                                    <span>2 здание 308А аудитория</span>
                                </div>
                            </div>
                            <div class="card-staff">
                                <div class="card__item">
                                    <span>ФИО:</span>
                                    <a href="" class="color-link">Епифанова Александра Юрьевна</a>
                                </div>
                                <div class="card__item">
                                    <span>Должность</span>
                                    <span>Заместитель директора по воспитательной работе</span>
                                </div>
                                <div class="card__item">
                                    <span>Е-mail:</span>
                                    <a href="">ilta_lmf@mail.ru</a>
                                </div>
                                <div class="card__item">
                                    <span>Телефон:</span>
                                    <a href="">+7 (812) 670-92-51</a>
                                </div>
                                <div class="card__item">
                                    <span>Адрес:</span>
                                    <span>2 здание 308А аудитория</span>
                                </div>
                            </div>
                            <div class="card-staff">
                                <div class="card__item">
                                    <span>ФИО:</span>
                                    <a href="" class="color-link">Хитров Егор Германович</a>
                                </div>
                                <div class="card__item">
                                    <span>Должность</span>
                                    <span>Ответственный по научной работе</span>
                                </div>
                                <div class="card__item">
                                    <span>Е-mail:</span>
                                    <a href="">tp_mlk@spbftu.ru</a>
                                </div>
                                <div class="card__item">
                                    <span>Телефон:</span>
                                    <a href="">+7 (812) 670-93-21</a>
                                </div>
                                <div class="card__item">
                                    <span>Адрес:</span>
                                    <span>2 здание 213 аудитория</span>
                                </div>
                            </div>
                            <div class="card-staff">
                                <div class="card__item">
                                    <span>ФИО:</span>
                                    <a href="" class="color-link">Кривоногова Александра Станиславовна</a>
                                </div>
                                <div class="card__item">
                                    <span>Должность</span>
                                    <span>Ответственная по методической работе</span>
                                </div>
                                <div class="card__item">
                                    <span>Е-mail:</span>
                                    <a href="">pmig@spbftu.ru</a>
                                </div>
                                <div class="card__item">
                                    <span>Телефон:</span>
                                    <a href="">+7 (812) 670-92-37</a>
                                </div>
                                <div class="card__item">
                                    <span>Адрес:</span>
                                    <span>2 здание 420 аудитория</span>
                                </div>
                            </div>
                            <div class="card-staff">
                                <div class="card__item">
                                    <span>ФИО:</span>
                                    <a href="" class="color-link">Колпакова Людмила Ивановна</a>
                                </div>
                                <div class="card__item">
                                    <span>Должность</span>
                                    <span>Ведущий специалист (дневное отделение)</span>
                                </div>
                                <div class="card__item">
                                    <span>Е-mail:</span>
                                    <a href="">lta_lmf@mail.ru</a>
                                </div>
                                <div class="card__item">
                                    <span>Телефон:</span>
                                    <a href="">+7 (812) 670-92-51</a>
                                </div>
                                <div class="card__item">
                                    <span>Адрес:</span>
                                    <span>2 здание 308 аудитория</span>
                                </div>
                            </div>
                            <div class="card-staff">
                                <div class="card__item">
                                    <span>ФИО:</span>
                                    <a href="" class="color-link">Повилайтис Мария Григорьевна</a>
                                </div>
                                <div class="card__item">
                                    <span>Должность</span>
                                    <span>Ведущий специалист (дневное отделение)</span>
                                </div>
                                <div class="card__item">
                                    <span>Е-mail:</span>
                                    <a href="">lta_lmf@mail.ru</a>
                                </div>
                                <div class="card__item">
                                    <span>Телефон:</span>
                                    <a href="">+7 (812) 670-92-51</a>
                                </div>
                                <div class="card__item">
                                    <span>Адрес:</span>
                                    <span>2 здание 308 аудитория</span>
                                </div>
                            </div>
                            <div class="card-staff">
                                <div class="card__item">
                                    <span>ФИО:</span>
                                    <a href="" class="color-link">Котосова Елена Геннадьевна</a>
                                </div>
                                <div class="card__item">
                                    <span>Должность</span>
                                    <span>Ведущий специалист (заочное отделение)</span>
                                </div>
                                <div class="card__item">
                                    <span>Е-mail:</span>
                                    <a href="">itm_kotosova@spbftu.ru</a>
                                </div>
                                <div class="card__item">
                                    <span>Телефон:</span>
                                    <a href="">+7 (812) 670-92-71</a>
                                </div>
                                <div class="card__item">
                                    <span>Адрес:</span>
                                    <span>2 здание 308 аудитория</span>
                                </div>
                            </div>
                            <div class="card-staff">
                                <div class="card__item">
                                    <span>ФИО:</span>
                                    <a href="" class="color-link">Дроздова Татьяна Георгиевна</a>
                                </div>
                                <div class="card__item">
                                    <span>Должность</span>
                                    <span>Ведущий специалист (заочное отделение)</span>
                                </div>
                                <div class="card__item">
                                    <span>Е-mail:</span>
                                    <a href="">itm_drozdova@spbftu.ru</a>
                                </div>
                                <div class="card__item">
                                    <span>Телефон:</span>
                                    <a href="">+7 (812) 670-92-71</a>
                                </div>
                                <div class="card__item">
                                    <span>Адрес:</span>
                                    <span>2 здание 309 аудитория</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="institute-block" id="network-resources">
                    <div class="institute-block_content-block">
                        <div class="title">Сетевые ресурсы института
                            технологических машин и транспорта леса
                        </div>
                        <div class="network-link">
                            <a href="">https://spbftu.ru/nashi-dostizheniya-2/</a>
                            <a href="">https://vk.com/video-119599714_456239052</a>
                            <a href="">https://vk.com/ltuitmitl</a>
                        </div>
                    </div>
                </div>

                <div class="institute__submenu">
                    <div class="submenu__title">Кафедры, входящие в состав института</div>
                    <a href="" class="submenu-link">Кафедра лесного машиностроения, сервиса и ремонта</a>
                    <a href="" class="submenu-link">Кафедра математических методов в управлении</a>
                    <a href="" class="submenu-link">Кафедра прикладной механики и инженерной графики</a>
                    <a href="" class="submenu-link">Кафедра промышленного транспорта</a>
                    <a href="" class="submenu-link">Кафедра промышленной энергетики</a>
                    <a href="" class="submenu-link">Кафедра технологии лесозаготовительных производств</a>
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="footer-menu">
        <div class="footer-menu__item">
            <div class="item__title">Университет</div>
            <a href="">Об университете</a>
            <a href="">Администрация</a>
            <a href="">Справочник документов</a>
            <a href="">Филиалы</a>
            <a href="">Стратегия развития</a>
            <a href="">Академические рейтинги</a>
        </div>
        <div class="footer-menu__item">
            <div class="item__title">Образование</div>
            <a href="">Общая информация</a>
            <a href="">Обучающимся</a>
            <a href="">Информация для иностранных граждан</a>
            <a href="">Библиотека</a>
            <a href="">Анкетирование</a>
        </div>
        <div class="footer-menu__item">
            <div class="item__title">Наука</div>
            <a href="">Общая информация</a>
            <a href="">Структура научной части</a>
            <a href="">Конгрессная деятельность</a>
        </div>
        <div class="footer-menu__item">
            <div class="item__title">Международное сотрудничество</div>
            <a href="">Общая информация</a>
            <a href="">Международные образовательные программы</a>
            <a href="">Международная деятельность</a>
        </div>
        <div class="footer-menu__item">
            <div class="item__title">Абитуриенту</div>
            <a href="">Бакалавриат</a>
            <a href="">Магистратура</a>
            <a href="">Видео о нас</a>
            <a href="">Аспирантура</a>
            <a href="">Среднее профессиональное образование</a>
            <a href="">Презентации направлений</a>
            <a href="">Презентации кафедр</a>
            <a href="">Интервью со специалистами</a>
            <a href="">Видео обращения</a>
        </div>
        <div class="footer-menu__item">
            <div class="item__title">Студенческая жизнь</div>
            <a href="">Управление по воспитательной работе и молодежной политике</a>
            <a href="">Творчество</a>
            <a href="">Социальное обеспечение</a>
            <a href="">Студенческие объединения</a>
            <div class="item__title">Вакансии</div>
            <a href="">Заведующие кафедрами</a>
            <a href="">Профессорско-преподавательский состав</a>
            <a href="">Конкурс на замещение вакантных должностей научных работников</a>
        </div>
        <div class="footer-menu__item">
            <div class="item__title">Центр карьеры и профориентации</div>
            <a href="">Обучающимся</a>
            <a href="">Выпускникам</a>
            <a href="">Партнёрам</a>
            <a href="">Трудоустройство выпускников с ОВЗ и инвалидностью</a>
            <a href="">Профориентация</a>
            <a href="">Практики и стажировки</a>
            <a href="">Вакансии для выпускников и обучающихся</a>
        </div>
        <div class="footer-menu__item">
            <div class="item__title">Культура</div>
            <a href="">Культурная деятельность</a>
            <a href="">75-я годовщина Победы в Великой Отечественной войне</a>
            <a href="">Культурно-просветительские проекты</a>
            <div class="item__title">Медиа</div>
            <a href="">Пресс-служба СПбГЛТУ</a>
            <a href="">СМИ о нас</a>
            <a href="">Информационные партнеры</a>
        </div>
    </div>
    <div class="additional-services">
        <div class="additional-services__item">
            <a href="">Министерство науки и высшего образования Российской Федерации</a>
            <a href="">Официальные информационные ресурсы Министерства науки и высшего образования Российской
                Федерации</a>
            <a href="">Портал государственных услуг Российской Федерации</a>
        </div>
        <div class="additional-services__item">
            <a href="">Официальный сайт для размещения информации о государственных (муниципальных) учреждениях</a>
            <a href="">Интерактивная карта антитеррористической деятельности</a>
            <a href="">Противодействие коррупции</a>
        </div>
        <div class="additional-services__item">
            <a href="">Почта университета</a>
            <a href="">Техническая служба</a>
            <a href="">Заявка на конференцию Zoom</a>
            <a href="">Задать вопрос</a>
            <div class="social-network">
                <a href="">
                    <img src="../public/img/vk.svg" alt="">
                </a>
                <a href="">
                    <img src="../public/img/inst.svg" alt="">
                </a>
                <a href="">
                    <img src="../public/img/facebook.svg" alt="">
                </a>
            </div>
        </div>
        <div class="additional-services__item">
            <div class="contact">
                <span>Приемная комиссия:</span>
                <a href="">+7 (812) 670-92-97</a>
                <a href="">pricomlt@mail.ru</a>
            </div>
            <div class="contact">
                <span>Отдел делопроизводства:</span>
                <a href="">+7 (812) 670-92-46</a>
                <a href="">public@spbftu.ru</a>
            </div>
            <div class="contact">
                <span>Пресс-служба:</span>
                <a href="">+7 (812) 670-93-55</a>
                <a href="">pr@spbftu.ru</a>
            </div>
        </div>
    </div>
    <div class="footer-line"></div>
    <div class="copyright">
       <span>
            © Лесотехнический университет, 2015 г. Все материалы данного сайта являются объектами
            авторского права. Запрещается копирование, распространение (в том числе путем копирования на другие сайты и
            ресурсы в Интернете) или любое иное использование информации и объектов без предварительного согласия
            правообладателя
       </span>
    </div>
</footer>
<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../public/js/carousel.js"></script>
<script src="../public/js/main.js"></script>
</body>
</html>