@font-face {
  Montserratly: "Montserratt";
  src: url("../fonts/Montserrat-Black.ttf");
  src: url("../fonts/Montserrat-BlackItalic.ttf");
  src: url("../fonts/Montserrat-Bold.ttf");
  src: url("../fonts/Montserrat-BoldItalic.ttf");
  src: url("../fonts/Montserrat-ExtraBold.ttf");
  src: url("../fonts/Montserrat-ExtraBoldItalic.ttf");
  src: url("../fonts/Montserrat-ExtraLight.ttf");
  src: url("../fonts/Montserrat-ExtraLightItalic.ttf");
  src: url("../fonts/Montserrat-Italic.ttf");
  src: url("../fonts/Montserrat-Light.ttf");
  src: url("../fonts/Montserrat-LightItalic.ttf");
  src: url("../fonts/Montserrat-Medium.ttf");
  src: url("../fonts/Montserrat-MediumItalic.ttf");
  src: url("../fonts/Montserrat-Regular.ttf");
  src: url("../fonts/Montserrat-SemiBold.ttf");
  src: url("../fonts/Montserrat-SemiBoldItalic.ttf");
  src: url("../fonts/Montserrat-Thin.ttf");
  src: url("../fonts/Montserrat-ThinItalic.ttf");
}
* {
  box-sizing: border-box;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

.color-line {
  width: 100%;
  height: 5px;
  background: #84c552;
}

header {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 100px;
  border-bottom: 1px #999999 solid;
  position: relative;
}
header .hamburger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 40px;
  min-width: 40px;
  height: 30px;
  cursor: pointer;
  margin-right: 24px;
}
header .hamburger span {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background: #999999;
  transition: all 0.5s ease;
}
header .hamburger span:before {
  content: "";
  position: absolute;
  top: -10px;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background: #999999;
  transition: all 0.5s ease;
}
header .hamburger span:after {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background: #999999;
  transition: all 0.5s ease;
}
header .hamburger__active {
  transition: all 0.5s ease;
}
header .hamburger__active span {
  transform: rotate(45deg);
  top: 10px;
  transition: all 0.5s ease;
  background: #006633;
}
header .hamburger__active span:before {
  transform: rotate(90deg);
  top: 0;
  transition: all 0.5s ease;
  background: #006633;
}
header .hamburger__active span:after {
  bottom: 0;
  opacity: 0;
  transition: all 0.5s ease;
  background: #006633;
}
header .l-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .l-menu .logo {
  width: 300px;
}
header .l-menu .link {
  display: flex;
  align-items: center;
}
header .l-menu .link a {
  font-family: Montserrat;
  font-size: 16px;
  margin: 0 24px;
  color: #999999;
  font-weight: 500;
  border-bottom: 1px rgba(0, 0, 0, 0) solid;
  transition: all 0.5s ease;
}
header .l-menu .link a:hover {
  color: #006633;
  border-bottom: 1px #006633 solid;
  transition: all 0.5s ease;
}
header .r-menu {
  display: flex;
  align-items: center;
  margin-left: auto;
}
header .r-menu a {
  margin: 0 12px;
}
header .r-menu a img {
  width: 35px;
  height: 35px;
}
header .r-menu .language {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  margin: 0 12px;
}
header .r-menu .language span {
  font-family: Montserrat;
  font-size: 16px;
  color: #999999;
  font-weight: 500;
}
header .r-menu .language a {
  font-family: Montserrat;
  font-size: 16px;
  color: #999999;
  font-weight: 500;
  margin: 0;
}
header .r-menu .language img {
  width: 15px;
  margin-left: 6px;
}
header .r-menu .language .language-friend {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 100%;
  transform-origin: top;
  transform: scaleY(0);
  transition: all 0.2s ease;
  width: 100%;
}
header .r-menu .language .language-friend a {
  color: white;
  margin: 6px 0;
}
header .r-menu .language .language-friend__active {
  transform: scaleY(1);
  transition: all 0.2s ease;
  background: #999999;
}
header .menu {
  width: 100%;
  transform-origin: top;
  transform: scaleY(0);
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0 100px;
  transition: all 0.2s ease;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0);
  background: white;
  border-top: 1px #999999 solid;
  display: flex;
  justify-content: space-between;
}
header .menu .l-menu {
  margin: 0;
  min-width: 26%;
  max-width: 26%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 12px;
  border-right: 1px #999999 solid;
}
header .menu .l-menu .l-menu-item {
  cursor: pointer;
  width: 100%;
  padding: 12px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .menu .l-menu .l-menu-item a {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  color: black;
}
header .menu .c-menu {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 12px;
}
header .menu .c-menu .c-menu-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 50%;
  padding: 6px;
}
header .menu .c-menu .c-menu-item .first-lick {
  width: 100%;
  color: black;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 12px;
}
header .menu .c-menu .c-menu-item .second-link {
  width: 100%;
  color: black;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  margin: 6px 0;
}
header .menu .r-menu {
  min-width: 20%;
  max-width: 20%;
  margin: 0;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 12px;
}
header .menu .r-menu .r-menu-item {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 48px;
}
header .menu .r-menu .r-menu-item .contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
header .menu .r-menu .r-menu-item .contact .name {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  color: black;
}
header .menu .r-menu .r-menu-item .contact .phone {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  color: #006633;
  margin: 12px 0;
  padding: 0;
}
header .menu .r-menu .r-menu-item .contact .email {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  color: #006633;
  padding: 0;
}
header .menu__active {
  transform: scaleY(1);
  z-index: 15;
  transition: all 0.2s ease;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}

.section {
  width: 100%;
  margin: 48px 0;
  padding: 0 100px;
}
.section-bg-full {
  background: #f3f6fb;
}
.section__title {
  padding-top: 48px;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: bold;
  width: 50%;
}

.container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 48px;
}

.swiper-container {
  width: 100%;
  height: 500px;
}
.swiper-container .slide-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.swiper-container .slide-content__title {
  margin: 48px 0 0 48px;
  font-size: 39px;
  font-family: Montserrat;
  font-weight: bold;
  width: 35%;
}
.swiper-container .slide-content__img {
  position: absolute;
  width: 50%;
  height: 100%;
  object-fit: contain;
  right: 0;
  top: 0;
}
.swiper-container .slide-content__button {
  margin: 0 0 48px 48px;
  background: #006633;
  width: 200px;
  padding: 24px 12px;
  border: 0;
  color: white;
  border-radius: 15px;
  font-family: Montserrat;
  font-size: 15px;
}
.swiper-container-one {
  grid-column: 1/span 12;
  border-radius: 0 10px 10px 0;
}
.swiper-container-one .slide-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.swiper-container-one .slide-content__title {
  margin: 48px 0 0 48px;
  font-size: 39px;
  font-family: Montserrat;
  font-weight: bold;
  width: 35%;
}
.swiper-container-one .slide-content__img {
  position: absolute;
  width: 50%;
  height: 100%;
  object-fit: contain;
  right: -10px;
  top: 0;
}
.swiper-container-one .slide-content__button {
  margin: 0 0 48px 48px;
  background: #006633;
  width: 200px;
  padding: 24px 12px;
  border: 0;
  color: white;
  border-radius: 15px;
  font-family: Montserrat;
  font-size: 15px;
}
.swiper-container-one .swiper-pagination {
  min-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-container-one .swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
}
.swiper-container-one .swiper-pagination .swiper-pagination-bullet-active {
  background: #95c11f;
}
.swiper-container-one .swiper-button-next, .swiper-container-one .swiper-button-prev {
  border: 1px rgba(128, 128, 128, 0.2) solid;
}
.swiper-container-one .swiper-button-next {
  background: white;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  color: #95c11f;
  right: -25px;
  font-weight: bold;
}
.swiper-container-one .swiper-button-next:after {
  font-size: 15px;
  margin: 0 15px 0 0;
}
.swiper-container-one .swiper-button-prev {
  background: white;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  color: #95c11f;
  left: -25px;
  font-weight: bold;
}
.swiper-container-one .swiper-button-prev:after {
  font-size: 15px;
  margin: 0 0 0 15px;
}
.swiper-container-two {
  grid-column: 9/span 4;
  border-radius: 10px 0 0 10px;
}
.swiper-container-two .slide-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-container-two .slide-content img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.swiper-container-two .swiper-button-next, .swiper-container-two .swiper-button-prev {
  border: 1px rgba(128, 128, 128, 0.2) solid;
}
.swiper-container-two .swiper-button-next {
  background: white;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  color: #95c11f;
  right: -25px;
  font-weight: bold;
}
.swiper-container-two .swiper-button-next:after {
  font-size: 15px;
  margin: 0 15px 0 0;
}
.swiper-container-two .swiper-button-prev {
  background: white;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  color: #95c11f;
  left: -25px;
  font-weight: bold;
}
.swiper-container-two .swiper-button-prev:after {
  font-size: 15px;
  margin: 0 0 0 15px;
}
.swiper-container-two .swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
}
.swiper-container-two .swiper-pagination .swiper-pagination-bullet-active {
  background: #95c11f;
}

.details {
  grid-column: 1/span 12;
  position: relative;
}
.details__menu {
  width: 100%;
  height: 70px;
  border-bottom: 1px black solid;
  margin-bottom: 48px;
  display: flex;
  align-items: flex-end;
}
.details .link-more {
  margin-top: 48px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.details .link-more a {
  font-family: Montserrat;
  font-size: 14px;
  color: #95c11f;
  display: flex;
  align-items: center;
}
.details .link-more a img {
  width: 10px;
  margin-left: 12px;
}
.details .swiper-container-three, .details .swiper-container-four {
  height: 0;
  position: static;
  opacity: 0;
  transition: all 0.5s ease;
}
.details .swiper-container-three .swiper-wrapper, .details .swiper-container-four .swiper-wrapper {
  position: static;
}
.details .swiper-container-three .swiper-button-next, .details .swiper-container-three .swiper-button-prev, .details .swiper-container-four .swiper-button-next, .details .swiper-container-four .swiper-button-prev {
  z-index: 0;
}
.details .swiper-container-three .swiper-button-next, .details .swiper-container-four .swiper-button-next {
  top: unset;
  bottom: -15px;
  right: 0;
  background: #f3f6fb;
  border-radius: 100%;
  width: 50px;
  height: 50px;
}
.details .swiper-container-three .swiper-button-next:after, .details .swiper-container-four .swiper-button-next:after {
  color: #95c11f;
  font-size: 20px;
}
.details .swiper-container-three .swiper-button-prev, .details .swiper-container-four .swiper-button-prev {
  top: unset;
  left: unset;
  bottom: -15px;
  right: 60px;
  background: #f3f6fb;
  border-radius: 100%;
  width: 50px;
  height: 50px;
}
.details .swiper-container-three .swiper-button-prev:after, .details .swiper-container-four .swiper-button-prev:after {
  color: #95c11f;
  font-size: 20px;
}
.details .swiper-active {
  height: 600px;
  opacity: 1;
  transition: all 0.5s ease;
}
.details .swiper-active .swiper-button-next, .details .swiper-active .swiper-button-prev {
  z-index: 20;
}

.menu__button {
  border: 0;
  background: none;
  padding: 0 0 24px;
  border-bottom: 1px grey solid;
  margin: 0 24px;
  font-family: Montserrat;
}
.menu__button-active {
  color: #95c11f;
  border-bottom: 1px #95c11f solid;
}

.menu__button:first-child {
  margin: 0 24px 0 0;
}

.menu__button:last-child {
  margin: 0 0 0 24px;
}

.slide-card {
  display: flex;
  padding: 24px;
}
.slide-card .card {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.slide-card .card__img {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 50%;
  object-fit: cover;
}
.slide-card .card__content {
  display: flex;
  flex-direction: column;
  padding: 24px;
  height: 100%;
  border: 1px #b3b3b3 solid;
  border-radius: 0 0 10px 10px;
}
.slide-card .card__date {
  width: 100%;
  font-family: Montserrat;
  color: #999999;
  font-size: 15px;
}
.slide-card .card__text {
  width: 100%;
  font-size: 26px;
  font-family: Montserrat;
  color: black;
  line-height: 36px;
  margin: 24px 0;
}
.slide-card .card__arrow {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: auto 0 0;
}
.slide-card .card__arrow img {
  width: 20px;
}
.announcements {
  grid-column: 1/span 12;
  position: relative;
}
.announcements .link-more {
  margin: 48px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.announcements .link-more a {
  font-family: Montserrat;
  font-size: 14px;
  color: #95c11f;
  display: flex;
  align-items: center;
}
.announcements .link-more a img {
  width: 10px;
  margin-left: 12px;
}
.announcements .swiper-container-five {
  height: 400px;
  position: static;
}
.announcements .swiper-container-five .swiper-wrapper {
  position: static;
}
.announcements .swiper-container-five .swiper-button-next {
  top: unset;
  bottom: 25px;
  right: 0;
  background: white;
  border-radius: 100%;
  width: 50px;
  height: 50px;
}
.announcements .swiper-container-five .swiper-button-next:after {
  color: #95c11f;
  font-size: 20px;
}
.announcements .swiper-container-five .swiper-button-prev {
  top: unset;
  left: unset;
  bottom: 25px;
  right: 60px;
  background: white;
  border-radius: 100%;
  width: 50px;
  height: 50px;
}
.announcements .swiper-container-five .swiper-button-prev:after {
  color: #95c11f;
  font-size: 20px;
}

.slide-announce .announce-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.slide-announce .announce-card .card__date {
  width: 100%;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 15px;
  color: #999999;
  padding: 6px;
  animation: 0.2s forwards no-hover-v ease-in-out;
  transition: all 0.2s ease;
  border-radius: 15px;
}
.slide-announce .announce-card .card__text {
  width: 100%;
  font-family: Montserrat;
  font-size: 26px;
  line-height: 36px;
  color: black;
  margin: 24px 0;
}
.slide-announce .announce-card:hover .card__date {
  animation: 0.2s forwards hover-v ease-in-out;
  color: white;
  transition: all 0.2s ease;
}

@keyframes hover-v {
  0% {
    background: linear-gradient(90deg, #95c11f 0%, rgba(149, 193, 31, 0) 0%, rgba(149, 193, 31, 0) 100%);
  }
  25% {
    background: linear-gradient(90deg, #95c11f 0%, rgba(149, 193, 31, 0.25) 25%, rgba(149, 193, 31, 0) 100%);
  }
  50% {
    background: linear-gradient(90deg, #95c11f 0%, rgba(149, 193, 31, 0.5) 50%, rgba(149, 193, 31, 0) 100%);
  }
  75% {
    background: linear-gradient(90deg, #95c11f 0%, rgba(149, 193, 31, 0.75) 75%, rgba(149, 193, 31, 0) 100%);
  }
  100% {
    background: linear-gradient(90deg, #95c11f 0%, #95c11f 100%, rgba(149, 193, 31, 0) 100%);
  }
}
@keyframes no-hover-v {
  0% {
    background: linear-gradient(90deg, #95c11f 0%, #95c11f 100%, rgba(149, 193, 31, 0) 100%);
  }
  25% {
    background: linear-gradient(90deg, #95c11f 0%, rgba(149, 193, 31, 0.75) 75%, rgba(149, 193, 31, 0) 100%);
  }
  50% {
    background: linear-gradient(90deg, #95c11f 0%, rgba(149, 193, 31, 0.5) 50%, rgba(149, 193, 31, 0) 100%);
  }
  75% {
    background: linear-gradient(90deg, #95c11f 0%, rgba(149, 193, 31, 0.25) 25%, rgba(149, 193, 31, 0) 100%);
  }
  100% {
    background: linear-gradient(90deg, #95c11f 0%, rgba(149, 193, 31, 0) 0%, rgba(149, 193, 31, 0) 100%);
  }
}
.link-card {
  grid-column-end: span 6;
  position: relative;
  height: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: black;
  padding: 48px;
}
.link-card__title {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: bold;
  width: 60%;
  z-index: 1;
}
.link-card__text {
  z-index: 1;
  font-family: Montserrat;
  font-size: 17px;
  font-weight: bold;
  width: 50%;
  margin-top: 48px;
  line-height: 24px;
}
.link-card__img {
  position: absolute;
  top: 50%;
  right: 24px;
  transform: translate(0, -50%);
  width: 50%;
  height: 80%;
  z-index: 0;
}

.link-card:nth-child(1) {
  background: linear-gradient(90deg, #d5e6a6 0%, #f8fbf0 100%);
}

.link-card:nth-child(2) {
  background: linear-gradient(90deg, #d2f0f5 0%, #fafdfe 100%);
}

.link-card:nth-child(3) {
  background: linear-gradient(90deg, #fbd4d1 0%, #fef7f7 100%);
}

.link-card:nth-child(4) {
  background: linear-gradient(90deg, #ffe6bb 0%, #fffbf3 100%);
}

.partners {
  grid-column: 1/span 12;
}

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
footer .footer-menu {
  background: #00401e;
  padding: 48px 100px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 24px;
}
footer .footer-menu__item {
  grid-column-end: span 3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: white;
}
footer .footer-menu__item .item__title {
  font-family: Montserrat;
  font-size: 16px;
  margin: 24px 0;
  font-weight: bold;
}
footer .footer-menu__item a {
  color: #ffffff;
  opacity: 0.7;
  font-family: Montserrat;
  font-size: 15px;
  margin: 6px 0;
}
footer .additional-services {
  background: #003319;
  padding: 48px 100px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 24px;
}
footer .additional-services__item {
  grid-column-end: span 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .additional-services__item a {
  color: #999999;
  font-family: Montserrat;
  font-size: 15px;
  margin: 12px 0;
}
footer .additional-services__item .social-network {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .additional-services__item .social-network a {
  font-family: Montserrat;
  width: 35px;
  height: 35px;
}
footer .additional-services__item .social-network a img {
  width: 100%;
}
footer .additional-services__item .contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
footer .additional-services__item .contact span {
  font-family: Montserrat;
  color: #999999;
}
footer .additional-services__item .contact a {
  font-family: Montserrat;
  margin: 0;
}
footer .footer-line {
  width: 100%;
  height: 1px;
  background: #999999;
}
footer .copyright {
  background: #003319;
  padding: 24px 100px;
  display: flex;
}
footer .copyright span {
  font-family: Montserrat;
  width: 70%;
  color: #999999;
}

/*# sourceMappingURL=style.css.map */
