@font-face {
  Montserratly: "Montserratt";
  src: url('../fonts/Montserrat-Black.ttf');
  src: url('../fonts/Montserrat-BlackItalic.ttf');
  src: url('../fonts/Montserrat-Bold.ttf');
  src: url('../fonts/Montserrat-BoldItalic.ttf');
  src: url('../fonts/Montserrat-ExtraBold.ttf');
  src: url('../fonts/Montserrat-ExtraBoldItalic.ttf');
  src: url('../fonts/Montserrat-ExtraLight.ttf');
  src: url('../fonts/Montserrat-ExtraLightItalic.ttf');
  src: url('../fonts/Montserrat-Italic.ttf');
  src: url('../fonts/Montserrat-Light.ttf');
  src: url('../fonts/Montserrat-LightItalic.ttf');
  src: url('../fonts/Montserrat-Medium.ttf');
  src: url('../fonts/Montserrat-MediumItalic.ttf');
  src: url('../fonts/Montserrat-Regular.ttf');
  src: url('../fonts/Montserrat-SemiBold.ttf');
  src: url('../fonts/Montserrat-SemiBoldItalic.ttf');
  src: url('../fonts/Montserrat-Thin.ttf');
  src: url('../fonts/Montserrat-ThinItalic.ttf');
}

$lineColor: #84c552;
$textColorGrey: #888b8e;
$textColorBlack: black;
$textColorWhite: white;
$bgColorFull: #f3f6fb;
$activeLinkColor: #95c11f;
$footerFirstColor: #00401e;
$footerSecondColor: #003319;

* {
  box-sizing: border-box;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

.color-line {
  width: 100%;
  height: 5px;
  background: $lineColor;
}

header {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 100px;
  border-bottom: 1px #999999 solid;
  position: relative;

  .hamburger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 30px;
    cursor: pointer;

    span {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
      width: 100%;
      height: 5px;
      border-radius: 5px;
      background: #999999;
      transition: all .5s ease;
    }

    span:before {
      content: '';
      position: absolute;
      top: -10px;
      width: 100%;
      height: 5px;
      border-radius: 5px;
      background: #999999;
      transition: all .5s ease;
    }

    span:after {
      content: '';
      position: absolute;
      bottom: -10px;
      width: 100%;
      height: 5px;
      border-radius: 5px;
      background: #999999;
      transition: all .5s ease;
    }

    &__active {
      span {
        transform: rotate(45deg);
        transition: all .5s ease;
        background: #006633;
      }

      span:before {
        transform: rotate(90deg);
        top: 0;
        transition: all .5s ease;
        background: #006633;
      }

      span:after {
        bottom: 0;
        opacity: 0;
        transition: all .5s ease;
        background: #006633;
      }

      transition: all .5s ease;
    }
  }

  .l-menu {
    margin-left: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      width: 350px;
    }

    .link {
      display: flex;
      align-items: center;

      a {
        font-family: Montserrat;
        font-size: 16px;
        margin: 0 24px;
        color: #999999;
        font-weight: 500;
        border-bottom: 1px rgba(0, 0, 0, 0) solid;
        transition: all .5s ease;
      }

      a:hover {
        color: #006633;
        border-bottom: 1px #006633 solid;
        transition: all .5s ease;
      }
    }
  }

  .r-menu {
    display: flex;
    align-items: center;
    margin-left: auto;

    a {
      margin: 0 12px;

      img {
        width: 35px;
        height: 35px;
      }
    }

    .language {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      cursor: pointer;
      margin: 0 12px;

      span {
        font-family: Montserrat;
        font-size: 16px;
        color: #999999;
        font-weight: 500;
      }

      a {
        font-family: Montserrat;
        font-size: 16px;
        color: #999999;
        font-weight: 500;
        margin: 0;
      }

      img {
        width: 15px;
        margin-left: 6px;
      }

      .language-friend {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 100%;
        transform-origin: top;
        transform: scaleY(0);
        transition: all .2s ease;
        width: 100%;

        a {
          color: white;
          margin: 6px 0;
        }

        &__active {
          transform: scaleY(1);
          transition: all .2s ease;
          background: #999999;
        }
      }
    }
  }

  .menu {
    width: 100%;
    transform-origin: top;
    transform: scaleY(0);
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0 100px;
    transition: all .2s ease;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.0);
    background: white;
    border-top: 1px #999999 solid;
    display: flex;
    justify-content: space-between;


    .l-menu {
      margin: 0;
      width: 26%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 12px;
      border-right: 1px #999999 solid;

      .l-menu-item {
        cursor: pointer;
        width: 100%;
        padding: 12px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        a {
          font-family: Montserrat;
          font-size: 20px;
          font-weight: 500;
          color: black;

        }
        img {
          width: 15px;
        }
      }
    }

    .r-menu {
      width: 20%;
      margin: 0;
      background: white;
      border-left: 1px #999999 solid;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 12px;

      .r-menu-item {
        width: 100%;
        margin: auto 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .contact {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;

          .name {
            font-family: Montserrat;
            font-size: 20px;
            font-weight: 500;
            color: black;
          }

          .phone {
            font-family: Montserrat;
            font-size: 20px;
            font-weight: 500;
            color: #006633;
            margin: 12px 0;
            padding: 0;
          }

          .email {
            font-family: Montserrat;
            font-size: 20px;
            font-weight: 500;
            color: #006633;
            padding: 0;
          }
        }
      }
    }

    &__active {
      transform: scaleY(1);
      z-index: 15;
      transition: all .2s ease;
      box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
    }
  }
}

.section {
  width: 100%;
  margin: 48px 0;
  padding: 0 100px;

  &-bg-full {
    background: $bgColorFull;
  }

  &__title {
    padding-top: 48px;
    font-family: Montserrat;
    font-size: 32px;
    font-weight: bold;
    width: 50%;
  }
}

.container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 48px;
}

.swiper-container {
  width: 100%;
  height: 500px;

  .slide-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__title {
      margin: 48px 0 0 48px;
      font-size: 39px;
      font-family: Montserrat;
      font-weight: bold;
      width: 35%;
    }

    &__img {
      position: absolute;
      width: 50%;
      height: 100%;
      object-fit: contain;
      right: 0;
      top: 0;
    }

    &__button {
      margin: 0 0 48px 48px;
      background: #006633;
      width: 200px;
      padding: 24px 12px;
      border: 0;
      color: white;
      border-radius: 15px;
      font-family: Montserrat;
      font-size: 15px;
    }
  }


  &-one {
    grid-column: 1/span 8;
    border-radius: 0 10px 10px 0;

    .slide-content {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &__title {
        margin: 48px 0 0 48px;
        font-size: 39px;
        font-family: Montserrat;
        font-weight: bold;
        width: 35%;
      }

      &__img {
        position: absolute;
        width: 50%;
        height: 100%;
        object-fit: contain;
        right: 0;
        top: 0;
      }

      &__button {
        margin: 0 0 48px 48px;
        background: #006633;
        width: 200px;
        padding: 24px 12px;
        border: 0;
        color: white;
        border-radius: 15px;
        font-family: Montserrat;
        font-size: 15px;
      }
    }

    .swiper-pagination {
      min-width: 200px;
      display: flex;
      align-items: center;
      justify-content: center;

      .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
      }

      .swiper-pagination-bullet-active {
        background: #95c11f;
      }
    }

    .swiper-button-next, .swiper-button-prev {
      border: 1px rgba(128, 128, 128, 0.2) solid;
    }

    .swiper-button-next {
      background: white;
      border-radius: 100%;
      width: 50px;
      height: 50px;
      color: #95c11f;
      right: -25px;
      font-weight: bold;
    }

    .swiper-button-next:after {
      font-size: 15px;
      margin: 0 15px 0 0;
    }

    .swiper-button-prev {
      background: white;
      border-radius: 100%;
      width: 50px;
      height: 50px;
      color: #95c11f;
      left: -25px;
      font-weight: bold;
    }

    .swiper-button-prev:after {
      font-size: 15px;
      margin: 0 0 0 15px;
    }
  }

  &-two {
    grid-column: 9/span 4;
    border-radius: 10px 0 0 10px;


    .slide-content {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .swiper-button-next, .swiper-button-prev {
      border: 1px rgba(128, 128, 128, 0.2) solid;
    }

    .swiper-button-next {
      background: white;
      border-radius: 100%;
      width: 50px;
      height: 50px;
      color: #95c11f;
      right: -25px;
      font-weight: bold;
    }

    .swiper-button-next:after {
      font-size: 15px;
      margin: 0 15px 0 0;
    }

    .swiper-button-prev {
      background: white;
      border-radius: 100%;
      width: 50px;
      height: 50px;
      color: #95c11f;
      left: -25px;
      font-weight: bold;
    }

    .swiper-button-prev:after {
      font-size: 15px;
      margin: 0 0 0 15px;
    }

    .swiper-pagination {
      .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
      }

      .swiper-pagination-bullet-active {
        background: #95c11f;
      }
    }
  }
}

.details {
  grid-column: 1/ span 12;
  position: relative;

  &__menu {
    width: 100%;
    height: 70px;
    border-bottom: 1px black solid;
    margin-bottom: 48px;
    display: flex;
    align-items: flex-end;
  }

  .link-more {
    margin-top: 48px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    a {
      font-family: Montserrat;
      font-size: 14px;
      color: #95c11f;
      display: flex;
      align-items: center;

      img {
        width: 10px;
        margin-left: 12px;
      }
    }
  }

  .swiper-container-three, .swiper-container-four {
    height: 0;
    position: static;

    .swiper-wrapper {
      position: static;
    }

    .swiper-button-next, .swiper-button-prev {
      z-index: 0;
    }

    .swiper-button-next {
      top: unset;
      bottom: -15px;
      right: 0;
      background: $bgColorFull;
      border-radius: 100%;
      width: 50px;
      height: 50px;
    }

    .swiper-button-next:after {
      color: #95c11f;
      font-size: 20px;
    }

    .swiper-button-prev {
      top: unset;
      left: unset;
      bottom: -15px;
      right: 60px;
      background: $bgColorFull;
      border-radius: 100%;
      width: 50px;
      height: 50px;
    }

    .swiper-button-prev:after {
      color: #95c11f;
      font-size: 20px;
    }
  }

  .swiper-active {
    height: 600px;

    .swiper-button-next, .swiper-button-prev {
      z-index: 20;
    }
  }
}

.menu__button {
  border: 0;
  background: none;
  padding: 0 0 24px;
  border-bottom: 1px grey solid;
  margin: 0 24px;
  font-family: Montserrat;

  &-active {
    color: #95c11f;
    border-bottom: 1px #95c11f solid;
  }
}

.menu__button:first-child {
  margin: 0 24px 0 0;
}

.menu__button:last-child {
  margin: 0 0 0 24px;
}

.slide-card {
  display: flex;

  .card {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    &__img {
      border-radius: 10px 10px 0 0;
      width: 100%;
      height: 50%;
      object-fit: cover;
    }

    &__content {
      display: flex;
      flex-direction: column;
      padding: 24px;
      height: 100%;
      border: 1px #b3b3b3 solid;
      border-radius: 0 0 10px 10px;
    }

    &__date {
      width: 100%;
      font-family: Montserrat;
      color: #999999;
      font-size: 15px;
    }

    &__text {
      width: 100%;
      font-size: 26px;
      font-family: Montserrat;
      color: black;
      line-height: 36px;
      margin: 24px 0;
    }

    &__arrow {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin: auto 0 0;

      img {
        width: 20px;
      }
    }
  }
}

.announcements {
  grid-column: 1/ span 12;
  position: relative;

  .link-more {
    margin: 48px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    a {
      font-family: Montserrat;
      font-size: 14px;
      color: #95c11f;
      display: flex;
      align-items: center;

      img {
        width: 10px;
        margin-left: 12px;
      }
    }
  }

  .swiper-container-five {
    height: 400px;
    position: static;

    .swiper-wrapper {
      position: static;
    }

    .swiper-button-next {
      top: unset;
      bottom: 25px;
      right: 0;
      background: white;
      border-radius: 100%;
      width: 50px;
      height: 50px;
    }

    .swiper-button-next:after {
      color: #95c11f;
      font-size: 20px;
    }

    .swiper-button-prev {
      top: unset;
      left: unset;
      bottom: 25px;
      right: 60px;
      background: white;
      border-radius: 100%;
      width: 50px;
      height: 50px;
    }

    .swiper-button-prev:after {
      color: #95c11f;
      font-size: 20px;
    }
  }
}

.slide-announce {

  .announce-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .card__date {
      width: 100%;
      font-family: Montserrat;
      font-size: 15px;
      color: #999999;
    }

    .card__text {
      width: 100%;
      font-family: Montserrat;
      font-size: 26px;
      line-height: 36px;
      color: black;
      margin: 24px 0;
    }
  }
}

.link-card {
  grid-column-end: span 6;

  position: relative;
  height: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: black;
  padding: 48px;


  &__title {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: bold;
    width: 60%;
    z-index: 1;
  }

  &__text {
    z-index: 1;
    font-family: Montserrat;
    font-size: 17px;
    font-weight: bold;
    width: 50%;
    margin-top: 48px;
    line-height: 24px;
  }

  &__img {
    position: absolute;
    top: 50%;
    right: 24px;
    transform: translate(0, -50%);
    width: 50%;
    height: 80%;
    z-index: 0;
  }
}

.link-card:nth-child(1) {
  background: linear-gradient(90deg, rgba(213, 230, 166, 1) 0%, rgba(248, 251, 240, 1) 100%);
}

.link-card:nth-child(2) {
  background: linear-gradient(90deg, rgba(210, 240, 245, 1) 0%, rgba(250, 253, 254, 1) 100%);
}

.link-card:nth-child(3) {
  background: linear-gradient(90deg, rgba(251, 212, 209, 1) 0%, rgba(254, 247, 247, 1) 100%);
}

.link-card:nth-child(4) {
  background: linear-gradient(90deg, rgba(255, 230, 187, 1) 0%, rgba(255, 251, 243, 1) 100%);
}

.partners {
  grid-column: 1/ span 12;
}

footer {
  display: flex;
  flex-direction: column;
  width: 100%;

  .footer-menu {
    background: $footerFirstColor;
    padding: 48px 100px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 24px;

    &__item {
      grid-column-end: span 3;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      color: white;

      .item__title {
        font-family: Montserrat;
        font-size: 16px;
        margin: 24px 0;
        font-weight: bold;
      }

      a {
        color: #ffffff;
        opacity: .7;
        font-family: Montserrat;
        font-size: 15px;
        margin: 6px 0;
      }
    }
  }

  .additional-services {
    background: $footerSecondColor;
    padding: 48px 100px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 24px;

    &__item {
      grid-column-end: span 3;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      a {
        color: #999999;
        font-family: Montserrat;
        font-size: 15px;
        margin: 12px 0;
      }

      .social-network {
        width: 150px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
          width: 35px;
          height: 35px;

          img {
            width: 100%;
          }
        }
      }

      .contact {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        span {
          color: #999999;
        }

        a {
          margin: 0;
        }
      }
    }
  }

  .footer-line {
    width: 100%;
    height: 1px;
    background: #999999;
  }

  .copyright {
    background: $footerSecondColor;
    padding: 24px 100px;
    display: flex;

    span {
      width: 60%;
      color: #999999;
    }
  }
}